<h2>📝 Trivia Quiz</h2>

@if (quizForm) {
<form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
  @for (question of questions; track $index; let i = $index) {
  <div class="quiz-question">
    <p [innerHTML]="question.question"></p>

    @for (ans of question.allAnswers; track $index) {
    <div class="quiz-answer">
      <input
        type="radio"
        [id]="'q' + i + '-' + ans"
        [value]="ans"
        [formControlName]="'q' + i"
        [name]="'q' + i"
      />
      <label [for]="'q' + i + '-' + ans" [innerHTML]="ans"></label>
    </div>
    } @if (submitted && quizForm.controls['q' + i].invalid) {
    <div class="error">Please select an answer.</div>
    }
  </div>
  }

  <button type="submit" [disabled]="quizForm.invalid">Submit Quiz</button>
</form>
} @if (resultMessage) {
<div class="result">
  {{ resultMessage }}
</div>
}
